gym==0.21.0
gym-retro==0.8.0
torch==1.12.1+cu116 torchvision==0.13.1+cu116 torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu116
tensorboard==2.12.1
stable-baselines3[extra]
optuna